/* Position and sizing of burger button */
*{
    margin: 0;
    padding: 0; 
    
  box-sizing: border-box;
}
.bm-burger-button {
    position: fixed;
    width: 2.768vmin; /* 36px */
    height: 2.307vmin; /* 30px */
    left: 1.8vmin; /* 24px */
    top: 1.53728vmin; /* 20px */
  }
  a{
    color: #043261;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #043261;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #fff;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button{
    top: 15px !important;
    right: 20px !important;
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #043261;
    width: 5px !important ;
    height: 24px !important;
  }
  
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #B7C3CF;
    padding: 24% 16% 0;
    font-size: 32px;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;

    color: #043261;
    margin-bottom: 10%;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  .bm-item:hover {
    color: #ffffff;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }