*{
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

.Homepage {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Homepage-header{
  background-color: #CEDCEA;
  height: 5.381vmin; /* 70px */
  width: 100%;
  object-position: top;
  margin: 0; 
}

.greeting-text{
  color: #043261;
  text-align: center;
  font-size: 3.0746vmin; /* 40px */
  margin-top: 19.216vmin; /* 250px */
} 

.title{
  color: #043261;
  font-size: 3.0746vmin; /* 40px */
  font-style: normal;
  line-height: normal;
  align-self: start;
  margin: 1.53728vmin 1.53728vmin auto 5.6879vmin; /* 20px 20px auto 74px */
}

.search-bar{
  background-color: #CEDCEA;
  width: 70.562vmin; /* 918px */
  height: 4.613vmin; /* 60px */
  display: flex;
  flex-shrink: 0;
  margin: 2%;
  margin-top: 4.613vmin; /* 60px */
  border-radius: 2.307vmin; /* 30px */
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-icon{
  position: fixed;
  margin: 1.153vmin 1.153vmin; /* 15px 15px */
  height: 2.307vmin; /* 30px */
  width: 2.307vmin; /* 30px */
  flex-shrink: 0;
}
.Info{
  height: 2.307vmin; /* 30px */
  width: 2.307vmin; /* 30px */
  margin: 1.53728vmin 1.53728vmin 1.53728vmin 90%;
  mix-blend-mode: darken;
}

.Settings{
  height: 2.307vmin; /* 30px */
  width: 2.307vmin;
  margin: 1.53728vmin; /* 20px */
}
.box-field{
  background-color: white;
  height: 30.746vmin; /* 400px */
  width: auto;
  display: flex;
  margin-top: 4.613vmin; /* 60px */
}

.box-field a{
  color: #043261;
  text-decoration: none;
  font-size: 3.0746vmin; /* 40px */
}
.box1{
  width:30.746vmin;
  height: 30.746vmin;
  flex-shrink: 0;
  border-radius: 1.53728vmin; /* 20px */
  background: #CEDCEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 5.5342vmin; /* 72px */
  margin-right: 3.6895vmin; /* 48px */
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline; 
  flex-wrap: wrap;
  flex-direction: row;
}
.Student{
  margin: 7.6864vmin 7.6864vmin 0px 7.6864vmin; /* 100px 100px 0px 100px */
  width: 15.3728vmin; /* 200px */
  height: 15.3728vmin;
  flex-shrink: 0;
  align-items: center;
  
}
.box2{
  width:30.746vmin;
  height: 30.746vmin;
  flex-shrink: 0;
  border-radius: 1.53728vmin; /* 20px */
  background: #CEDCEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 3.6895vmin; /* 48px */
  margin-right: 3.6895vmin; /* 48px */
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline; 
  flex-wrap: wrap;
  flex-direction: row;
}
.Teams{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Team{
  margin: 7.6864vmin 7.6864vmin 0vmin 7.6864vmin; /* 100px 100px 0px 100px */
  width: 15.3728vmin; /* 200px */
  height: 15.3728vmin;
  flex-shrink: 0;
  align-items: center;
}

.team a{
  color: #043261;
  text-decoration: none;
}

.box3{
  width:30.746vmin;
  height: 30.746vmin;
  flex-shrink: 0;
  border-radius: 1.53728vmin; /* 20px */
  background: #CEDCEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 3.6895vmin; /* 48px */
  margin-right: 5.5342vmin; /* 72px */
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline; 
  flex-wrap: wrap;
  flex-direction: row;
}
.Logo{
  margin: 11.5296vmin 7.6864vmin 4.6887vmin 7.6864vmin; /* 150px 100px 61px 100px */
  width: 15.3728vmin; /* 200px */
  height: 7.533vmin;/* 98px */
  flex-shrink: 0;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
.Studentenliste{
  align-items: center;
}

/* Studentenliste.css */

.table-box{
  background-color: #CEDCEA;
  height: 61.492vmin; /* 800px */
  width: 60%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.76864vmin; /* 10px */
  margin-left: 20%;
  margin-top: 2%;

}
/* CSS */

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Set the table layout to fixed */
}

/* Optional styles for table cells, headers, etc. */
.table th, .table td {
  border: 1px solid white;
  border-radius:  0.76864vmin; /* 10px */
  padding: 0.614912vmin; /* 8px */
  width: auto; /* Set width to auto for even column sizing */
  text-align: center; /* Center align content */
  font-size: 1.53728vmin;
}

.table th {
  background-color: #CEDCEA;
}

.auswahl{
  margin-top: 2%;
}
.checkbox{
  height: 1.53728vmin;
  width: 1.53728vmin;
}
.sort{
  height: 2.307vmin;
  width: 2.307vmin;
  margin-left: 22%;
}

.selection{
  height: 2.307vmin;
  width: 2.307vmin;
  margin-left: 53%;
}

.plus{
  height: 2.307vmin;
  width: 2.307vmin;
  margin-left: 50%;
}

.deletion{
  height: 2.307vmin;
  width: 2.307vmin;
  margin-left: 3%;
}

.addStudent{
  margin: 0 auto;
}
.table-box-add{
  background-color: #CEDCEA;
  height: 61.492vmin; /* 800px */
  width: 80vmin;/* 1344px */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.76864vmin; /* 10px */
  margin: 3% auto auto auto;

}

.profile-icon{
  height: 11.5296vmin;
  width: auto;
  margin-top: 5%;
  margin-left: 43%;
  margin-right: auto;
  margin-bottom: 5%;
}
.table-add-data{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
  
.first-row {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;
}

.first-row-a,
.first-row-b {
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;
}

.first-row-b {
  margin-left: 25%;
}

.field-first-a {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 3.6895vmin;  /*48px Adjust the margin-left value as needed */
}
.field-first-b {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1.844731vmin; /* 24px */ /* Adjust the margin-left value as needed */
}

.second-row{
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;
}

.second-row-a, .second-row-b{
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;

}

.second-row-b {
  margin-left: 25%;
}

.field-second-a {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1.844731vmin; /* 24px */ /* Adjust the margin-left value as needed */
}

.field-second-b {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 9.454328vmin; /* 125px */ /* Adjust the margin-left value as needed */
}


.third-row{
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin; /* 20px */
  color: #043261;
  font-weight: 700;
}

.third-row-a, .third-row-b{
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;

}

.third-row-b {
  margin-left: 17%;
}

.field-third-a {
  height:  2.459648vmin; /* 32px */
  width: 7.6864vmin;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1.844731vmin; /* 24px */ /* Adjust the margin-left value as needed */
}

.field-third-b {
  height:  2.459648vmin; /* 32px */
  width: 7.6864vmin;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 6.1492vmin; /* 80px */ /* Adjust the margin-left value as needed */
}

.field-third-c {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 12.29824vmin; /* 160px */ /* Adjust the margin-left value as needed */
}

.fourth-row-a, .fourth-row-b{
  display: flex;
  flex-direction: row;
  align-items: center; /* Align items vertically in the center */
  font-size: 1.53728vmin;
  color: #043261;
  font-weight: 700;
}

.fourth-row-b{
  margin-left: 21%;

}



.field-fourth-a {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1.9216vmin; /* Adjust the margin-left value as needed */
}


.field-fourth-c {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 2.459648vmin; /* 32px */ /* Adjust the margin-left value as needed */
}


.fifth-row-a {
}

.field-fifth-a {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 7.6864vmin; /* Adjust the margin-left value as needed */
}



.add-button {
  height:  2.459648vmin; /* 32px */
  width: 13.835528vmin; /* 180px */
  color: white;
  text-align: center;
  background-color: #043261;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 78%; /* Adjust the margin-left value as needed */
  margin-top: 10%;
}



.Studentenliste table{
  border: 0.1533728vmin solid white;
}

/* Teams.css */

.team-field{
  display: flex;
  height: auto;
  width: 56.188vmin; /* 731px */
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  gap: 3.0746vmin; /* 40px */
  flex-wrap: wrap;
}
.team{
  background-color: #CEDCEA;
  width: 16.68vmin; /* 217px */
  height: 24.597vmin;/* 320px; */
  flex-shrink: 0;
  border-radius: 0.76864vmin; /* 10px */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.group{
  background: #043261;
  width: 15.45vmin; /* 201px; */
  height: 4.459vmin; /* 58px */
  flex-shrink: 0;
  margin: 0.614912vmin 0.614912vmin auto 0.614912vmin; /* 8px 8px auto 8px */
  border-radius: 0.76864vmin; /* 10px */
  text-align: center;
}
.groupName{
  color: #FFF;
  font-size: 1.53728vmin; /* 20px */
}
.member {
  width: 7.6864vmin; /* 100px */
  height: 7.6864vmin; /* 100px */
  flex-shrink: 0;
  margin: 3.0746vmin 4.459vmin auto auto; /* 40px 58px auto auto */
  border-radius: 50%;
  border: 0.2307vmin solid #043261; /* 3px */
}
.Information{
  margin: 10% auto auto auto;
  width: 11.069vmin;/* 144px; */
  height: 6.1492vmin; /* 80px */
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.229824vmin; /* 16px */
}
.project-field{
  border-radius: 1.53728vmin; /* 20px */
  background: #CEDCEA;
  width: 103.306vmin;/* 1344px */
  height: 63.49vmin; /* 826px */
  flex-shrink: 0;
  padding-top: 0.614912vmin; /* 8px */
  margin: 0 auto auto auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.projName{
  color: #FFF;
  font-size: 3.6895vmin; /* 48px */
  font-style: normal;
  line-height: normal;
}
.proj-name{
  background: #043261;
  width: 100.846vmin;/* 1312px */
  height: 6.457vmin; /* 84px */
  margin: 0.614912vmin 1.229824vmin auto 1.229824vmin; /* 8px 16px auto 16px */
  padding-top: 0.922368vmin; /* 12px */
  border-radius: 1.153vmin; /* 15px */
  text-align: center;
}
.proj-info{
  color:#043261;
  display: flex;
  width: 95.927vmin;/* 1248px*/
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.459648vmin; /* 32px */
  font-weight: bold;
  margin: 1.229824vmin 3.6895vmin 1.229824vmin 3.6895vmin; /* 16px 48px 16px 48px */
}
.boxes{
  display: flex;
}
.proj-member{
  border: 0.2307vmin solid #043261; /* 3px */
  border-radius: 1.153vmin; /* 15px */
  flex-shrink: 0;
  width: 26.057vmin; /* 339px */
  height: 47.656vmin; /* 620px */
  margin: auto auto 2.459648vmin auto;
}
.proj-member tr{
  font-size: 1.844731vmin; /* 24px */
  color:#043261;
  display: flex;
  width: 21.602vmin; /* 333px */
  justify-content: space-between;
  align-items: center;
  margin: 1.229824vmin 1.844731vmin 1.229824vmin 1.844731vmin; /* 16px 24px 16px 24px */
}
.proj-details{
  border: 0.2307vmin solid #043261; /* 3px */
  border-radius: 1.153vmin; /* 15px */
  flex-shrink: 0;
  width: 69.87vmin; /* 909px */
  height: 47.656vmin; /* 620px */
  margin: auto auto 2.459648vmin auto;
}
.goBackButton{
  display: inline;
  align-self: start;
  margin: 2.459648vmin 2.459648vmin; /* 32px 32px */
}
.icons-team{
  width: 2.307vmin; /* 30px */
}
.icon_teams{
  width: 1.153vmin; /* 15px */
}

/* profile.css */
.profileInfo{
  display: flex;
  height: auto;
  width: 56.188vmin; /* 731px */
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3.0746vmin; /* 40px */
  flex-wrap: nowrap;
}
.profileIcon{
  height: 11.5296vmin;
  width: auto;
}
.time{
  width: auto;
  height: 5.5342vmin; /* 72px */
}
.profileName b{
  color:#043261;
  font-size: 2.459648vmin; /* 32px */
}
.profileName p{
  color:rgba(4, 50, 97, 0.61);
  font-size: 1.844731vmin; /* 24px */
  font-weight: bold;
}
.profileName{
  margin: auto 56.188vmin auto 2.459648vmin; /* 731px */
}
.profileData{
  margin: 6.14912vmin auto auto auto; /* 80px */
  display: flex;
  height: auto;
  width: 94.54328vmin; /* 1250px */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.contractData{
  background-color: #CEDCEA;
  width: 46.503vmin; /* 605px */
  height: 39.432vmin; /* 513px */
  border-radius: 1.53728vmin; /* 20px */
  flex-shrink: 0;
}
.education{
  background-color: #CEDCEA;
  width: 46.503vmin; /* 605px */
  height: 39.432vmin; /* 513px */
  border-radius: 1.53728vmin; /* 20px */
  flex-shrink: 0;
}
.dataTitle{
  color:#043261;
  font-size: 1.844731vmin; /* 24px */
  margin: 1.229824vmin auto auto 2.459648vmin;
}
.dataTable{
  margin: 1.229824vmin auto auto 2.459648vmin;
}
.dataTable tr{
  font-size: 1.844731vmin; /* 24px */
  color:#043261;
  display: flex;
  width: 21.602vmin; /* 333px */
  justify-content: space-between;
  align-items: center;
  margin: 1.229824vmin 1.844731vmin 1.229824vmin 1.844731vmin; /* 16px 24px 16px 24px */
}







